<%- include ../partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<main class="container">
    <h1>Login</h1>

    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
    <% } %>

    <form method="post" action="/auth/login">
        <fieldset>
            <label for="username" class="col-sm-2">Username: *</label>
            <input name="username" id="username" required />
        </fieldset>
        <fieldset>
            <label for="password" class="col-sm-2">Password: *</label>
            <input name="password" id="password" type="password" required />
        </fieldset>

        <button class="btn btn-primary col-sm-offset-2">Login</button>
        <hr />
        Need access?  <a href="/auth/register" title="Register">Register</a>
    </form>

</main>

<%- include ../partials/footer.ejs %>