<%- include ../partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Barrie Pet Stores</h1>
        <p>Your number one stop for a list of all pet stores, groomers, and boarding in the Barrie area</p>
    </div>
</div>

<main class="container">

    <h1>Welcome, <%= user.username %></h1>

    <p>See private directory listing where you can add, edit and delete current listings</p>
    </br>
    <a href="/stores"><button class="btn btn-success col-lg-offset-2">Listings</button></a>

</main>

<%- include ../partials/footer.ejs %>