<%- include ../partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Barrie Pet Stores</h1>
        <p>Your number one stop for a list of all pet stores, groomers, and boarding in the Barrie area</p>
    </div>
</div>

<!--add new pet store entry-->

<main class="container">
    <h1>Pet Store Details</h1>
    <form method="post" action="add">
        <fieldset class="form-group">
            <label for="name" class="col-sm-2">Pet Store Name: </label>
            <input name="name" id="name" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="address" class="col-sm-2">Address: *</label>
            <textarea name="address" id="address" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="phone" class="col-sm-2">Phone Number: </label>
            <input name="phone" id="phone" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="website" class="col-sm-2">Website: </label>
            <input name="website" id="website" />
        </fieldset>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
    </form>
</main>

<%- include ../partials/header.ejs %>