<%- include ../partials/header.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<main class="container">
    <h1>Article Details</h1>
    <form method="post" action="add">
        <fieldset class="form-group">
            <label for="name" class="col-sm-2">Pet Store Name: </label>
            <input name="name" id="name" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="address" class="col-sm-2">Address: *</label>
            <textarea name="address" id="address" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="phone" class="col-sm-2">Phone Number: </label>
            <input name="phone" id="phone" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="website" class="col-sm-2">Website: </label>
            <input name="website" id="website" />
        </fieldset>
        <button class="btn btn-primary col-sm-offset-2">Save</button>
    </form>
</main>

<%- include ../partials/header.ejs %>