<%- include partials/header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Barrie Pet Stores</h1>
        <p>Your number one stop for a list of all pet stores, groomers, and boarding in the Barrie area</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <h2>Sponsors</h2>
        <div class="col-md-4">
            <img src="http://i.imgur.com/mmX4FaA.jpg" class="img-responsive" alt="georgian college">
        </div>
        <div class="col-md-4">
            <img src="http://i.imgur.com/SCq4iZk.png" class="img-responsive" alt="github">
        </div>
        <div class="col-md-4">
            <img src="http://i.imgur.com/teApZGd.png" class="img-responsive" alt="node js">
        </div>
    </div>

    <hr>

    <a href="/auth/login" title="Login">Login</a> or <a href="/auth/register" title="Register">Register</a>


<%- include partials/footer.ejs %>